.sidebar {
  top: 0;
  left: 0;
  width: 200px; /* 사이드바 너비 설정 */
  height: 100vh; /* 전체 높이 */
  padding: 20px;
  background-color: #f0f0f0;
  border-right: 1px solid #ddd;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.navigation-link {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
}

.navigation-link.active button {
  background-color: #0056b3;
  color: black;
  font-weight: bold;
}

.navigation-link button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #007bff;
  cursor: pointer;
  text-align: left;
  color: white;
  font-weight: normal;
}

.navigation-link button:hover {
  background-color: #0056b3;
}

.question-list {
  list-style: none;
  padding: 0;
  width: 100%;
  overflow-y: auto;
  flex-grow: 1; /* Flexbox에서 나머지 공간을 차지하도록 설정 */
}

.question-item {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.question-item.active {
  background-color: #e0e0e0;
}

.question-item:hover {
  background-color: #f0f0f0;
}
