/* 카테고리 드롭다운이 상단 중앙에 위치하도록 설정 */
.category {
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
    width: auto;
}

.project-name {
    position: fixed;
    top: 100px;
    left: 50%;
    height: 68px;
    width: auto;
    transform: translateX(-50%);
}

.main {
    position: relative;
    top: 50px;
    left: 40%;
    transform: translateX(-50%);
    margin-top: 20px;
    width: 100%;
    max-height: 700px; /* 최대 높이 설정 */
    overflow-y: auto; /* 스크롤 가능하도록 설정 */
}

.create-retrospect {
    margin-top: 20px; /* main 요소와의 간격 추가 */
}

.send {
    position: fixed;
    right: 200px;
    bottom: 40px;
}

.retro-code {
    white-space: pre-wrap; /* 줄바꿈과 공백을 유지 */
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
  }