.chat-interface {
    position: fixed;
    top: 20px;
    left: 50%;
    align-items: center;
    justify-content: center;
    width: 1000px;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: #f9f9f9;
    z-index: 1000; /* 다른 요소 위에 표시되도록 */
}

.chat-input {
    width: 80%;
    height: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.send-button {
    padding: 10px 20px;
    height: 20px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.send-button:hover {
    background-color: #0056b3;
}
