.retroinput-container {
    background-color: #CCCCCC1A;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    width: 1000px;
    margin-bottom: 10px;
    height: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column; /* 수직 정렬 */
    position: relative; /* 위치 흐름을 유지 */
}

.container {
    display: flex;
    justify-content: space-between; /* header는 좌측, server-data는 우측으로 배치 */
    align-items: center; /* 아이템들을 수직으로 가운데 정렬 */
    width: 100%;
    margin-bottom: 20px;
    position: relative; /* 컨테이너 내에서 상대적 위치를 유지 */
}

.header {
    width: 150px;
    height: 50px;
    padding: 8px;
    display: flex;
    align-items: center;
    background-color: #CCCCCC1A;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 8px;
}

.server-data {
    display: flex;
    flex-direction: column; /* 텍스트를 수직으로 쌓음 */
    justify-content: flex-start; /* 상단 정렬 */
    align-items: flex-start; 
    width: 75%;
    min-height: 30px; /* 최소 높이 설정 */
    background-color: #0085FF1A;
    padding: 16px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 15px;
    margin-top: 10px;
    height: auto; /* 컨텐츠 길이에 따라 높이 자동 조정 */
    transition: max-height 0.3s ease; /* 부드러운 높이 변경 */
    overflow: hidden; /* 기본적으로 숨김 */
    text-align: left;
    word-wrap: break-word;
}

.server-data-expanded {
    white-space: normal; /* 확장 시 줄바꿈 허용 */
    overflow-y: auto; /* 스크롤 가능하도록 설정 */
    height: auto; /* 높이 자동 조정 */
    max-height: 400px; /* 확장 시 최대 높이 설정 */
    padding: 16px;
    transition: all 0.3s ease; /* 부드러운 높이 변경 */
}

.toggle-button {
    align-self: flex-end;
    cursor: pointer;
    margin-right: 10px;
}

.content {
    display: flex;
    flex-direction: column; /* 요소들을 수직으로 배치 */
    width: 100%;
}

.user-input {
    margin-top: 10px;
}

.user-input div {
    margin-bottom: 10px;
    display: flex;
    margin-left: 20px;
}

.user-input textarea {
    width: 800px;
    height: 50px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #bbb;
    resize: none;
    font-size: 14px;
    margin-bottom: 10px;
    background-color: #f5faff;
    margin-left: 15px;
    text-align: center;
    line-height: 50px;
}

.user-input textarea::placeholder {
    text-align: center;
    font-size: 1rem;
}

.user-input span {
    font-weight: bold;
    margin-right: 5px;
    font-size: 0.95em;
    width: 100px;
}

.toggle-icon {
    font-size: 1.2em;
}

.icon-with-text {
    display: flex;
    align-items: center;
}

.icon-with-text svg {
    margin-right: 6px;
}